.selected-cell-td {
  background-color: rgba(168, 194, 255, 0.35);
}
.intersection-point {
  height: 14.4px;
  width: 14.4px;
  border: 1px solid #dfdfdf;
  border-right: 0px;
  border-bottom: 0px;
  z-index: 20;
  position: absolute;
  margin-top: 0px;
  margin-left: -16px;
  border-top-left-radius: 50%;
  transition: background-color 0.2s ease-in-out;

  cursor: pointer;
  background-color: #e1f0ff;

  &.active {
    background-color: #96bfff;
  }
  &:hover {
    background-color: #7ca9e6;
  }
  &:hover:not(.active) {
    background-color: #b8d8ff;
  }
}
.table-side-div {
  border-width: 1px 0 1px 1px;
  border-bottom: 0px;
  border-style: solid;
  border-color: #dfdfdf;
  z-index: 20;
  cursor: pointer;
  background-color: #e1f0ff;
  transition: background-color 0.15s ease-in-out;

  &.full-active {
    background-color: #96bfff;
  }

  &.half-active {
    background-color: #c8e0ff;
  }

  &.delete-btn-hover {
    background-color: rgba(245, 34, 45, 0.6);
  }
  &:hover {
    background-color: #7ca9e6;
  }
  &:hover:not(.full-active) {
    background-color: #d8ecff;
  }
}

.ant-md-editor-content-table.show-bar th:first-child,
.ant-md-editor-content-table.show-bar th:last-child {
  border-radius: 0;
}
