.markdown-editor {
  box-sizing: border-box;
  height: max-content;
  max-width: 100%;
  font-family: -apple-system, system-ui, ui-sans-serif, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  outline: none;
  tab-size: 4;
  position: relative;
  line-height: 1.5;
  white-space: normal;
}

.markdown-editor * {
  box-sizing: border-box;
}
.edit-area {
  outline: none !important;
}

.edit-area * {
  box-sizing: border-box;
}

.page-title {
  font-size: 2em;
  margin-bottom: 1rem;
  height: 3.5rem;
  width: 100%;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  background-color: transparent;
  font-weight: 700;
}

.page-title::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(156 163 175 / var(--tw-placeholder-opacity));
}

.page-title {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

:is(.dark .page-title) {
  border-color: rgb(229 231 235 / 0.1);
}

:is(.dark .page-title)::placeholder {
  color: rgb(209 213 219 / 0.3);
}

.edit-area.focus [data-empty]:before {
  position: absolute;
  left: 0;
  top: 3px;
  display: block;
  cursor: text;
  color: rgb(156 163 175 /0.85);
}

.float-color-icon {
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.edit-area.focus [data-empty]:before {
  content: "Press '/' for quick actions";
}

.edit-area.focus [data-be='list-item'] > :first-child[data-empty]:before {
  cursor: text;
  content: 'Enter content';
}

.edit-area.focus [data-be='list-item'].task > :nth-child(2)[data-empty]:before {
  cursor: text;
  content: 'Enter content';
}

.edit-area.focus h1[data-empty]::before {
  cursor: text;
  content: 'Heading 1';
}

.edit-area.focus h2[data-empty]::before {
  cursor: text;
  content: 'Heading 2';
}

.edit-area.focus h3[data-empty]::before {
  cursor: text;
  content: 'Heading 3';
}

.edit-area.focus h4[data-empty]::before {
  cursor: text;
  content: 'Heading 4';
}

.edit-area.focus h5[data-empty]::before {
  cursor: text;
  content: 'Heading 5';
}

.edit-area [data-empty]:before {
  display: none;
}

.edit-area > :first-child {
  margin-top: 0;
}

.content {
  box-sizing: border-box;
}

.content .link {
  text-decoration: underline;
}

.content.line-height-compact {
  line-height: 1.3;
}

.content.line-height-compact .check-item {
  height: 1.55em;
}

.content.line-height-compact .drag-handle {
  top: calc(3px + 0.65em - 11px);
}

.content.line-height-compact h1,
.content.line-height-compact h2,
.content.line-height-compact h3,
.content.line-height-compact h4,
.content.line-height-compact h5 {
  line-height: 1.2;
}

.content.line-height-compact h1 .drag-handle,
.content.line-height-compact h2 .drag-handle,
.content.line-height-compact h3 .drag-handle,
.content.line-height-compact h4 .drag-handle,
.content.line-height-compact h5 .drag-handle {
  top: calc(3px + 0.6em - 14px) !important;
}

.content.line-height-loose {
  line-height: 1.7;
}

.content.line-height-loose .check-item {
  height: 2.1em;
}

.content.line-height-loose .drag-handle {
  top: calc(3px + 0.85em - 11px);
}

.content.line-height-loose h1,
.content.line-height-loose h2,
.content.line-height-loose h3,
.content.line-height-loose h4,
.content.line-height-loose h5 {
  line-height: 1.4;
}

.content.line-height-loose h1 .drag-handle,
.content.line-height-loose h2 .drag-handle,
.content.line-height-loose h3 .drag-handle,
.content.line-height-loose h4 .drag-handle,
.content.line-height-loose h5 .drag-handle {
  top: calc(3px + 0.7em - 14px) !important;
}

.content .attach {
  padding: 3px 0;
}

.content .attach:not(:last-child) {
  margin-bottom: 0.3em;
}

.content .attach .file {
  border-radius: 4px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  transition-duration: 100ms;
}

:is(.dark .content .attach .file) {
  border-color: rgb(255 255 255 / 0.1);
  background-color: rgb(255 255 255 / 0.05);
}

.content .attach .file.active {
  border-color: rgb(0 0 0 / 0.5);
}

:is(.dark .content .attach .file.active) {
  border-color: rgb(255 255 255 / 0.5);
}

.content .mermaid-container {
  margin-bottom: 0.75rem;
  display: flex;
  cursor: default;
  user-select: none;
  justify-content: center;
  border-radius: 4px;
  background-color: rgb(107 114 128 / 0.05);
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.content [data-fnc='fnc'] {
  font-size: 0.85em;
  padding-left: 0.125rem;
  padding-right: 0.125rem;
  vertical-align: super;

  color: rgb(13 148 136 /1);
  transition-duration: 200ms;
}

.content [data-fnc='fnc']:hover {
  color: rgb(20 184 166 /1);
}

:is(.dark .content [data-fnc='fnc']) {
  color: rgb(20 184 166 /1);
}

:is(.dark .content [data-fnc='fnc']:hover) {
  color: rgb(13 148 136 /1);
}

.content [data-fnd='fnd'] {
  padding-left: 0.125rem;
  padding-right: 0.125rem;

  color: rgb(101 163 13 /1);
  transition-duration: 200ms;
}

.content [data-fnd='fnd']:hover {
  color: rgb(132 204 22 /1);
}

:is(.dark .content [data-fnd='fnd']) {
  color: rgb(132 204 22 /1);
}

:is(.dark .content [data-fnd='fnd']:hover) {
  color: rgb(101 163 13 /1);
}

.content pre {
  margin: 0;
  overflow-x: auto;
}

.content .high-text {
  border-radius: 4px;
  background: var(--md-high);
}

.content table,
.content th,
.content td {
  border-width: 1px;
  border-style: solid;
  border-collapse: collapse;
  border-color: rgb(209 213 219 / 0.8);
}

:is(.dark .content table),
:is(.dark .content th),
:is(.dark .content td) {
  border-color: rgb(209 213 219 / 0.2);
}

.content table {
  width: 100%;
  position: relative;
  table-layout: fixed;
}

.content .m-table {
  padding: 3px 0;
  margin-bottom: 0.5em;
  width: 100%;
  overflow: auto;
}
.content .m-table table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.content th,
.content td {
  vertical-align: top;
  padding: 0.375em 0.75em;
  text-align: left;
  line-height: 1.7;
}

.content th {
  background-color: rgb(229 231 235 / 0.3);
}

:is(.dark .content th) {
  background-color: rgb(229 231 235 / 0.05);
}

.content p {
  margin-bottom: 0.1em;
  padding: 3px 0;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5 {
  position: relative;
  line-height: 1.3;
  padding: 3px 0;
  margin-bottom: 3px;
}

.content h1 .drag-handle,
.content h2 .drag-handle,
.content h3 .drag-handle,
.content h4 .drag-handle,
.content h5 .drag-handle {
  top: calc(3px + 0.65em - 14px) !important;
}

.content h1 {
  font-size: 1.875em;
  margin-top: 1.2em;
  font-weight: 700;
}

.content h1:first-child {
  margin-top: 0;
}

.content h2 {
  font-weight: 600;
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.content h3 {
  font-weight: 600;
  font-size: 1.4em;
  margin-top: 0.8em;
}

.content h4 {
  font-weight: 500;
  font-size: 1.3em;
  margin-top: 0.7em;
  line-height: 1.2;
}

.content a {
  font-weight: 500;
}

.inline-code {
  background: var(--md-bg-mute);
  font-size: 0.87em;
  border-radius: 4px;
  padding: 2px 5px;
  position: relative;
  margin: 0 1px;
  word-break: break-word;
  top: -1px;

  color: rgb(244 63 94 /1);
}

:is(.dark .inline-code) {
  color: rgb(251 113 133 / 0.9);
}

blockquote {
  padding: 3px 14px 3px 21px;
  position: relative;
  font-style: italic;
  font-size: 0.96em;

  color: rgb(75 85 99 /1);
}

:is(.dark blockquote) {
  color: rgb(209 213 219 /1);
}

blockquote:not(:last-child) {
  margin-bottom: 0.5em;
}

blockquote p:not(:last-child) {
  margin-bottom: 0.1em !important;
}

blockquote:before {
  content: '';
  left: 0;
  top: 5px;
  height: calc(100% - 10px);
  width: 4px;
  position: absolute;
  display: block;
  border-radius: 4px;
  --tw-bg-opacity: 1;
  background-color: rgb(107 114 128 / var(--tw-bg-opacity));
}

:is(.dark blockquote):before {
  --tw-bg-opacity: 1;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity));
}

[data-be]:last-child {
  margin-bottom: 0;
}

[data-be='list'] {
  margin-bottom: 0.3em;
  padding-top: 5px;
  padding-bottom: 5px;
}

.m-list {
  list-style: disc;
  padding-left: 24px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 0;
}

.m-list li::marker {
  color: rgb(107 114 128 /1);
}

.m-list p {
  margin-bottom: 0 !important;
}

.m-list[data-task] {
  list-style: none !important;
  padding-left: 0;
}

.m-list li:not(.task) > :first-child .drag-handle {
  padding-left: 2px;
  padding-right: 18px;
  left: -44px !important;
}

.m-list li.task > :nth-child(2) .drag-handle {
  padding-left: 2px;
  padding-right: 10px;
  left: -50px !important;
}

ol.m-list {
  list-style: decimal;
}

ol.m-list ol.m-list {
  list-style: lower-alpha;
}

ol.m-list ol.m-list ol.m-list {
  list-style: upper-roman;
}

ol.m-list ol.m-list ol.m-list ol.m-list {
  list-style: decimal;
}

ul.m-list {
  list-style: disc;
}

ul.m-list ul.m-list {
  list-style: circle;
}

ul.m-list ul.m-list ul.m-list {
  list-style: revert;
}

ul.m-list ul.m-list ul.m-list ul.m-list {
  list-style: disc;
}

.m-list-item {
  position: relative;
  word-break: break-all;
}

.m-list-item.task {
  padding-left: 24px;
}

.m-list-item > [data-be='list'] {
  margin-bottom: 0;
}

.m-list-item .check-item {
  display: flex;
  align-items: center;
  position: absolute;
  user-select: none;
  height: 1.87em;
  left: 0;
  top: 0;
  z-index: 10;
}

.m-hr {
  height: 1px;
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

:is(.dark .m-hr) {
  background-color: rgb(229 231 235 / 0.1);
}

.m-hr {
  margin: 2em 0;
  border: none;
}

.code-container {
  padding: 4px 0;
  margin-bottom: 0.5em;
}

.code-container:not(:last-child) {
  margin-bottom: 0.5em;
}

.code-container.wrap .code-highlight.num code .code-line::before {
  display: block;
}

.code-container.wrap pre {
  white-space: break-spaces;
  overflow: visible;
}

.code-container.wrap pre .code-line {
  height: auto;
}

.code-container.wrap pre code {
  word-break: break-all;
  counter-reset: step;
  counter-increment: step 0;
}

.code-container.wrap pre code .code-line {
  position: relative;
}

.code-container.wrap pre code .code-line::before {
  display: none;
  content: counter(step);
  font-size: 0.93em;
  counter-increment: step;
  text-align: center;
  position: absolute;
  width: 32px;
  top: 0;
  left: -37px;
}

.code-highlight {
  border-width: 1px;
  border-color: rgb(0 0 0 / 0.1);

  color: rgb(107 114 128 /1);
}

:is(.dark .code-highlight) {
  border-color: rgb(229 231 235 / 0.1);

  color: rgb(156 163 175 /1);
}

.code-highlight {
  background: var(--md-code-bg);
  border-radius: 4px;
  font-size: 0.85em;
  position: relative;
  line-height: 1.62em;
  direction: ltr;
}

.code-highlight.tab-2 {
  tab-size: 2;
}

.code-highlight.tab-4 {
  tab-size: 4;
}

.code-highlight.frontmatter:before {
  top: 0;
  content: 'Front Matter';
  width: 100%;
  height: 22px;
  line-height: 21px;
  position: absolute;
  z-index: 10;
  left: 0;
  padding-left: 10px;
  font-size: 12px;
}

.code-highlight.frontmatter .code-line-list {
  top: 24px;
  padding-top: 8px;
  height: calc(100% - 24px);
}

.code-highlight.frontmatter pre {
  padding-top: 32px;
}

.code-highlight pre {
  white-space: pre;
  padding: 10px 0;
  position: relative;
}

.code-highlight code {
  width: fit-content;
  display: inline-block;
  min-width: 100%;
  word-wrap: normal;
  word-spacing: normal;
  word-break: normal;
  hyphens: none;
  padding-left: 16px;
  padding-right: 16px;
}

.code-highlight.dark {
  caret-color: rgba(255, 255, 255, 0.9);
  color: rgba(255, 255, 255, 0.8);
}

.code-highlight.dark .ant-select-selector {
  color: #e5e7eb !important;
  border-color: rgba(229, 231, 235, 0.3);
}

.code-highlight.dark .code-line-list {
  color: rgb(255 255 255 / 0.7);
}

.code-highlight.dark.frontmatter:before {
  border-bottom-width: 1px;
  border-color: rgb(229 231 235 / 0.1);

  color: rgb(156 163 175 /1);
}

.code-highlight.dark .code-line::before {
  color: rgb(243 244 246 / 0.5);
}

.code-highlight.light {
  caret-color: rgba(0, 0, 0, 0.9);
  color: rgba(0, 0, 0, 0.8);
}

.code-highlight.light .ant-select-selector {
  color: #4b5563 !important;
  border-color: rgba(75, 85, 99, 0.3);
}

.code-highlight.light .code-line-list {
  color: rgb(0 0 0 / 0.7);
}

.code-highlight.light.frontmatter:before {
  border-bottom-width: 1px;
  border-color: rgb(0 0 0 / 0.1);

  color: rgb(107 114 128 /1);
}

.code-highlight.light .code-line::before {
  color: rgb(0 0 0 / 0.5);
}

.code-highlight .code-line-list {
  counter-reset: step;
  counter-increment: step 0;
  z-index: 10;
  padding-top: 10px;
  width: 32px;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  overflow: hidden;
}

.code-highlight .code-line-list > div {
  font-size: 0.93em;
  left: 0;
  top: 0;
  height: 23px;
  line-height: 23px;
  width: 32px;
  text-align: center;
}

.code-highlight .code-line-list > div:before {
  content: counter(step);
  counter-increment: step;
}

.code-highlight.num {
  padding-left: 32px;
}

.code-highlight.num code {
  padding-left: 5px;
}

.code-highlight .code-line {
  position: relative;
  height: 23px;
  line-height: 23px;
}

.code-highlight .lang-select {
  width: 100px;
}

.code-highlight .lang-select .ant-select-selector {
  background: transparent;
}

.code-highlight .lang-select input {
  text-align: center;
}

[data-be] {
  position: relative;
}

.move-mark {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
  display: block;
  height: 0.125rem;
  border-radius: 4px;
  background-color: rgb(0 0 0 / 0.5);
  transition-duration: 200ms;
}

:is(.dark .move-mark) {
  background-color: rgb(255 255 255 / 0.5);
}

.drag-handle {
  position: absolute;
  display: flex;
  user-select: none;
  align-items: center;
  padding: 2px;
  border-radius: 2px;
  opacity: 0;
  left: -28px;
  box-sizing: border-box;
  top: calc(3px + 0.75em - 14px);
}

.drag-icon {
  display: flex;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px;
  font-size: 16px;
  color: rgb(38, 38, 38);
}

.drag-icon:hover {
  background-color: rgb(244, 245, 245);
}

.drag-el:hover > .drag-handle {
  opacity: 1;
}

.inline-code-input {
  line-height: 1.3em;
  border-radius: 4px;
  color: rgb(156 163 175 /1);
}

.inline-code-input:before,
.inline-code-input:after {
  content: '$';
  font-size: 1em;

  color: rgb(107 114 128 /1);
}

:is(.dark .inline-code-input):before,
:is(.dark .inline-code-input):after {
  color: rgb(156 163 175 /1);
}

.inline-code-input:before {
  margin-right: 2px;
}

.inline-code-input:after {
  margin-left: 2px;
}

.view .drag-handle {
  display: none;
}

.view [data-be='link'] {
  pointer-events: none;
}

.media-frame {
  position: relative;
  display: block;
  border-width: 2px;
  border-color: transparent;
}

.media-frame .img-drag-handle {
  display: none;
  position: absolute;
  cursor: col-resize;
  border-radius: 100%;
  width: 9px;
  height: 9px;
  background: var(--bg);
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(107 114 128 / var(--tw-border-opacity));
}

:is(.dark .media-frame .img-drag-handle) {
  --tw-border-opacity: 1;
  border-color: rgb(156 163 175 / var(--tw-border-opacity));
}

.media-frame .img-drag-handle.t1 {
  left: -5px;
  top: 50%;
  margin-top: -5px;
}

.media-frame .img-drag-handle.t2 {
  right: -5px;
  top: 50%;
  margin-top: -5px;
}

.media-frame.active {
  border-color: rgb(59 130 246 / 0.6);
}

.media-frame.active .img-drag-handle {
  display: inline-block;
}

.dark .win ::-webkit-scrollbar-thumb {
  background-color: #52525b;
}

.win ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.win ::-webkit-scrollbar-thumb {
  background-color: #a1a1aa;
  border-radius: 20px;
}

.toolbar {
  border-bottom: 1px solid rgb(229 231 235 / 0.8);
  overflow: hidden;
  height: 32px;
  border-radius: 4px;
  background-color: rgb(255 255 255 / 10%);
  font-size: 16px;
  color: rgb(107 114 128 / 80%);
  backdrop-filter: blur(8px);
  box-sizing: border-box;
  padding: 4px 0;
}

.toolbar .toolbar-item {
  display: flex;
  height: 100%;
  font-size: 16px;
  border-radius: 4px;
  line-height: 32px;
  padding: 0 6px;
  box-sizing: border-box;
  border-radius: 4px;
  align-items: center;
  gap: 2px;
  cursor: pointer;
}

.toolbar .toolbar-item-color {
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 4px;
}

.toolbar .toolbar-item:hover {
  background-color: rgb(229 231 235 / 0.3);
}

.insert-autocomplete {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.insert-autocomplete .insert-autocomplete-item {
  display: flex;
  align-items: center;
  height: 24px;
  line-height: 24px;
  gap: 4px;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.float-bar {
  position: absolute;
  z-index: 20;
  border: 1px solid rgb(229 231 235 / 0.8);
  overflow: hidden;
  height: 28px;
  border-radius: 4px;
  background-color: rgb(255 255 255);
  font-size: 16px;
  color: rgb(107 114 128 / 80%);
  backdrop-filter: blur(8px);
  padding: 4px 0;
}

.float-bar .float-bar-item {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  line-height: 32px;
  padding: 0 10px;
  cursor: pointer;
}

.float-bar .float-bar-item-color {
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 4px;
}

.float-bar .float-bar-item-color:hover {
  outline: 2px solid rgb(59 130 246);
  outline-offset: 1px;
}

.float-bar .float-bar-item:hover {
  background-color: rgb(229 231 235 / 0.3);
}

.float-bar > * {
  box-sizing: border-box;
}

.context-menu {
  position: fixed;
}

.table-attr-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  border-bottom: 1px solid #e5e7eb;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #f0f0f0;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
  position: absolute;
  align-items: center;
  z-index: 10;
  gap: 4px;
  height: 24px;
  border-radius: 4px;
}

.table-attr-toolbar .table-attr-toolbar-item {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.table-attr-toolbar .table-attr-toolbar-item:hover {
  background-color: rgb(209 213 219 / 0.4);
}

.chart-attr-toolbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 4px;
  width: 100%;
  border-bottom: 1px solid #e5e7eb;
  background-color: rgba(255, 255, 255, 1);
  align-items: center;
  z-index: 10;
  gap: 4px;
}

.chart-attr-toolbar .chart-attr-toolbar-item {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.chart-attr-toolbar .chart-attr-toolbar-item:hover {
  background-color: rgb(209 213 219 / 0.4);
}
