.ant-md-editor-drag-handle {
  position: absolute;
  display: flex;
  user-select: none;
  align-items: center;
  padding: 2px;
  border-radius: 2px;
  opacity: 0;
  left: -28px;
  box-sizing: border-box;
  top: calc(3px + 0.75em - 14px);
}

.ant-md-editor-drag-icon {
  display: flex;
  align-items: center;
  border-radius: 18px;
  cursor: pointer;
  padding: 4px;
  font-size: 16px;
  color: rgb(38, 38, 38);
}

.ant-md-editor-drag-icon:hover {
  background-color: rgb(244, 245, 245);
}

.ant-md-editor-drag-el:hover > .ant-md-editor-drag-handle {
  opacity: 1;
}

.react-resizable {
  position: relative;
  box-sizing: border-box;
}

.react-resizable-handle-hide {
  display: none;
}
.react-resizable-selected {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: all 0.3s ease;
}
.react-resizable-handle {
  position: absolute;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
  z-index: 9999;
  width: 14px;
  height: 14px;
  border: 2px solid #fff;
  background-color: #2f8ef4;
  border-radius: 10px;
  bottom: -7px;
  right: -7px;
  pointer-events: all;
}

.markdown-editor .overflow-shadow-container::before,
.markdown-editor .overflow-shadow-container::after {
  content: '';
  position: absolute;
  top: 13px;
  bottom: 8px;
  width: 10px;
  opacity: 0;
  transition: opacity 0.1s;
  z-index: 100;
  pointer-events: none;
  user-select: none;
  height: calc(100% - 32px);
}

.markdown-editor .overflow-shadow-container::after {
  right: -4px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
}

.markdown-editor
  .overflow-shadow-container.is-overflowing:not(.is-scrolled-right)::after {
  opacity: 1;
}

.markdown-editor
  .overflow-shadow-container.is-overflowing:not(.is-scrolled-left)::before {
  opacity: 1;
}
.markdown-editor .overflow-shadow-container::before {
  left: 3px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
}

.move-mark {
  height: 0.125em;
  background-color: #1890ff;
  left: 0;
  z-index: 1000;
  display: block;
  position: absolute;
  border-radius: 0.25em;
  top: 0;
  transition-duration: 200ms;
}

.ant-md-editor-hidden {
  display: none;
}

.ace-container {
  position: relative;
  border-radius: 0.25em;
  border-width: 1px;
  border-color: #0000001a;
  padding-top: 2em;
  margin-bottom: 0.5em;
  font-size: 14px;
}

.ace-container.frontmatter:before {
  top: 3px;
  content: 'Front Matter';
  width: 100%;
  height: 22px;
  line-height: 21px;
  position: absolute;
  z-index: 10;
  left: 0;
  padding-left: 10px;
  font-size: 12px;
  color: #0009;
}

.ace-container.frontmatter:is(.dark *):before {
  color: #fff9;
}

.ace_hidden-cursors {
  display: none !important;
}

.match-text,
.match-current {
  position: absolute;
  width: auto;
}

.match-text {
  border-radius: 0.125em;
  background-color: #00000026;
}

.match-text:is(.dark *) {
  background-color: #ffffff26;
}

.match-current {
  border-radius: 0.125em;
  --tw-bg-opacity: 1;
  background-color: rgb(14 165 233 / var(--tw-bg-opacity));
}

.katex-container {
  .newline {
    margin: 4px 0;
  }
}
