.ant-md-editor-drag-handle {
  position: absolute;
  display: flex;
  user-select: none;
  align-items: center;
  padding: 2px;
  border-radius: 2px;
  opacity: 0;
  left: -28px;
  box-sizing: border-box;
  top: calc(3px + 0.75em - 14px);
}
:root {
  --markdown-input-field-tag-color: rgb(22, 119, 255);
  --markdown-input-field-tag-placeholder-color: rgb(22, 119, 255);
  --markdown-input-field-tag-border-color: rgb(145, 202, 255);
  --markdown-input-field-tag-hint-opacity: 0.5;
}

.ant-md-editor-drag-icon {
  display: flex;
  align-items: center;
  border-radius: 18px;
  cursor: pointer;
  padding: 4px;
  font-size: 16px;
  color: rgb(38, 38, 38);
}

.ant-md-editor-drag-icon:hover {
  background-color: rgb(244, 245, 245);
}

.ant-md-editor-drag-el:hover > .ant-md-editor-drag-handle {
  opacity: 1;
}

.react-resizable {
  position: relative;
  transition: all 0.3s ease;
  box-sizing: border-box;
  border: 1px solid #eee;
}

.react-resizable-handle-hide {
  display: none;
}
.react-resizable-selected img {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  outline: 2px solid #1890ff;
  outline-offset: 2px;
}
.react-resizable-handle {
  position: absolute;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
  z-index: 9999;
  width: 14px;
  height: 14px;
  border: 2px solid #fff;
  background-color: #2f8ef4;
  border-radius: 10px;
  bottom: -7px;
  right: -7px;
  pointer-events: all;
}

.markdown-editor .overflow-shadow-container::before,
.markdown-editor .overflow-shadow-container::after {
  content: '';
  position: absolute;
  top: 13px;
  bottom: 8px;
  width: 10px;
  opacity: 0;
  transition: opacity 0.1s;
  z-index: 100;
  pointer-events: none;
  user-select: none;
  height: calc(100% - 32px);
}

.markdown-editor .overflow-shadow-container::after {
  right: -4px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
}

.markdown-editor
  .overflow-shadow-container.is-overflowing:not(.is-scrolled-right)::after {
  opacity: 1;
}

.markdown-editor
  .overflow-shadow-container.is-overflowing:not(.is-scrolled-left)::before {
  opacity: 1;
}
.markdown-editor .overflow-shadow-container::before {
  left: 3px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
}

.move-mark {
  height: 0.125em;
  background-color: #1890ff;
  left: 0;
  z-index: 1000;
  display: block;
  position: absolute;
  border-radius: 0.25em;
  top: 0;
  transition-duration: 200ms;
}

.ant-md-editor-hidden {
  display: none;
}

.ace-container {
  position: relative;
  border-radius: 0.25em;
  border: 1px solid #0000001a;
  margin-bottom: 0.5em;
  font-size: 14px;
  min-width: min(320px, 100%);
  margin-top: 8px;
}

.ace-container.frontmatter:before {
  top: 3px;
  content: 'Front Matter';
  width: 100%;
  height: 22px;
  line-height: 21px;
  position: absolute;
  z-index: 10;
  left: 0;
  padding-left: 10px;
  font-size: 12px;
  color: #0009;
}

.ace-container.frontmatter:is(.dark *):before {
  color: #fff9;
}

.ace_hidden-cursors {
  display: none !important;
}

.match-text,
.match-current {
  position: absolute;
  width: auto;
}

.match-text {
  border-radius: 0.125em;
  background-color: #00000026;
}

.match-text:is(.dark *) {
  background-color: #ffffff26;
}

.match-current {
  border-radius: 0.125em;
  --tw-bg-opacity: 1;
  background-color: rgb(14 165 233 / 0.2);
}

.katex-container {
  .newline {
    margin: 4px 0;
  }
}

.inline-code-input {
  line-height: 1.3em;
  line-height: 1.3em;
  border-radius: 0.125em;
  color: rgb(13 148 136 / 1);
  font-family:
    ui-sans-serif,
    system-ui,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    Segoe UI Symbol,
    'Noto Color Emoji';
}

.inline-code-input:before,
.inline-code-input:after {
  content: '$';
  font-size: 1em;
  color: rgb(107 114 128 / 1);
}
.inline-code-input:before {
  margin-right: 2px;
}
.inline-code-input:after {
  margin-left: 2px;
}

div.composition .ant-md-editor-content-edit > div.empty:first-child::before {
  display: none;
}
.tag-popup-input-warp {
  position: relative;
  margin: 0 4px;
  cursor: pointer;
  padding: 0px 4px;
  border-radius: 4px;
  font-size: 0.9em;
  display: inline-flex;
  line-height: 1.5;
  color: var(--markdown-input-field-tag-color);
  border: 1px solid var(--markdown-input-field-tag-border-color);
}
.tag-popup-input:not(.tag-popup-input-composition).empty::before {
  color: var(--markdown-input-field-tag-placeholder-color);
  content: attr(title); /* element attribute*/
  opacity: 0.5;
  user-select: none;
  position: absolute;
  left: 4px;
  top: 0;
}

.tag-popup-input:hover::before {
  opacity: 0.6;
}

.tag-popup-input.empty::after {
  content: attr(title); /* element attribute*/
  opacity: 0;
  height: 0.5px;
  overflow: hidden;
  user-select: none;
}

.handsontable thead tr th .relative .colHeader {
  white-space: pre;
}
.ht_clone_top th {
  white-space: normal;
  height: auto !important;
}

.handsontable.ht-wrapper .ht_master .htCore thead tr:last-child th:first-child {
  height: auto !important;
}

.ant-md-editor-content
  .typewriter:last-of-type
  > *:last-of-type
  span[data-slate-leaf]:last-of-type
  span[data-slate-string] {
  border-right: 0.15em solid #1677ff;
  animation:
    typing 3.5s steps(30, end),
    blink-caret 0.5s step-end infinite;
}

* {
  scrollbar-width: thin;
  scrollbar-color: hsl(240 5.9% 90%) transparent;
  box-sizing: border-box;
}
