.markdown-editor .editor-icon-box {
  color: #6b7280;
  cursor: pointer;
}
.markdown-editor .editor-icon-box:hover {
  color: #1667ff;
}

.markdown-editor .avatar_list .avatar_list_item {
  display: inline-block;
  margin-right: -8px;
  transition: all 0.3s;
}

.markdown-editor .avatar_list:hover .avatar_list_item {
  display: inline-block;
  margin-right: 0px;
}

.md-editor-code {
  border-radius: 16px;
  font-feature-settings: normal;
  font-variation-settings: normal;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-rendering: optimizelegibility;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  direction: ltr;
  position: relative;
  margin-bottom: 0px;
  tab-size: 2;
  background: rgb(250, 250, 250);
  padding: 12px;
}

.md-editor-code .md-editor-code-header {
  direction: ltr;
  tab-size: 2;
  -webkit-user-modify: read-only;
  box-sizing: border-box;
  color: #666f8d;
  z-index: 10;
  display: flex;
  user-select: none;
  align-items: center;
  justify-content: space-between;
  padding: 12px 12px;
  padding-top: 0px;
  border-bottom: 1px solid rgba(186, 192, 204, 0.25);
}

.md-editor-code .md-editor-code-header .md-editor-code-header-actions {
  display: flex;
  gap: 8px;
}

.md-editor-code
  .md-editor-code-header
  .md-editor-code-header-actions
  .md-editor-code-header-actions-item {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.m-hr {
  height: 1px;
  background-color: rgb(229 231 235 / 1);
}

.m-hr {
  margin: 2em 0;
  border: none;
}

.code-container {
  padding: 4px 0;
  margin-bottom: 0.5em;
}

.code-container:not(:last-child) {
  margin-bottom: 0.5em;
}

.code-container.wrap .code-highlight.num code .code-line::before {
  display: block;
}

.code-container.wrap pre {
  white-space: break-spaces;
  overflow: visible;
}

.code-container.wrap pre .code-line {
  height: auto;
}

.code-container.wrap pre code {
  word-break: break-all;
  counter-reset: step;
  counter-increment: step 0;
}

.code-container.wrap pre code .code-line {
  position: relative;
}

.code-highlight {
  border-width: 1px;
  border-color: rgb(0 0 0 / 0.1);

  color: rgb(107 114 128 /1);
}

.code-highlight {
  border-radius: 18px;
  font-size: 0.85em;
  position: relative;
  line-height: 1.62em;
  direction: ltr;
}

.code-highlight.tab-2 {
  tab-size: 2;
}

.code-highlight.tab-4 {
  tab-size: 4;
}

.code-highlight.frontmatter:before {
  top: 0;
  content: 'Front Matter';
  width: 100%;
  height: 22px;
  line-height: 21px;
  position: absolute;
  z-index: 10;
  left: 0;
  padding-left: 10px;
  font-size: 12px;
}

.code-highlight.frontmatter .code-line-list {
  top: 24px;
  padding-top: 8px;
  height: calc(100% - 24px);
}

.code-highlight.frontmatter pre {
  padding-top: 32px;
}

.code-highlight pre {
  white-space: pre;
  padding: 10px 0;
  position: relative;
}

.code-highlight code {
  width: fit-content;
  display: inline-block;
  min-width: 100%;
  word-wrap: normal;
  word-spacing: normal;
  word-break: normal;
  hyphens: none;
  padding-left: 16px;
  padding-right: 16px;
}

.code-highlight.dark {
  caret-color: rgba(255, 255, 255, 0.9);
  color: rgba(255, 255, 255, 0.8);
}

.code-highlight.dark .ant-select-selector {
  color: #e5e7eb !important;
  border-color: rgba(229, 231, 235, 0.3);
}

.code-highlight.dark .code-line-list {
  color: rgb(255 255 255 / 0.7);
}

.code-highlight.dark.frontmatter:before {
  border-bottom-width: 1px;
  border-color: rgb(229 231 235 / 0.1);

  color: rgb(156 163 175 /1);
}

.code-highlight.dark .code-line::before {
  color: rgb(243 244 246 / 0.5);
}

.code-highlight.light {
  caret-color: rgba(0, 0, 0, 0.9);
  color: rgba(0, 0, 0, 0.8);
}

.code-highlight.light .ant-select-selector {
  color: #4b5563 !important;
  border-color: rgba(75, 85, 99, 0.3);
}

.code-highlight.light .code-line-list {
  color: rgb(0 0 0 / 0.7);
}

.code-highlight.light.frontmatter:before {
  border-bottom-width: 1px;
  border-color: rgb(0 0 0 / 0.1);

  color: rgb(107 114 128 /1);
}

.code-highlight.light .code-line::before {
  color: rgb(0 0 0 / 0.5);
}

.code-highlight .code-line-list {
  counter-reset: step;
  counter-increment: step 0;
  z-index: 10;
  padding-top: 10px;
  width: 32px;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  overflow: hidden;
}

.code-highlight .code-line-list > div {
  font-size: 0.93em;
  left: 0;
  top: 0;
  height: 23px;
  line-height: 23px;
  width: 32px;
  text-align: center;
}

.code-highlight .code-line-list > div:before {
  content: counter(step);
  counter-increment: step;
}

.code-highlight.num {
  padding-left: 32px;
}

.code-highlight.num code {
  padding-left: 5px;
}

.code-highlight .code-line {
  position: relative;
  height: 23px;
  line-height: 23px;
}

.code-highlight .lang-select {
  width: 100px;
}

.code-highlight .lang-select .ant-select-selector {
  background: transparent;
}

.code-highlight .lang-select input {
  text-align: center;
}

.md-editor-drag-handle {
  position: absolute;
  display: flex;
  user-select: none;
  align-items: center;
  padding: 2px;
  border-radius: 2px;
  opacity: 0;
  left: -28px;
  box-sizing: border-box;
  top: calc(3px + 0.75em - 14px);
}

.md-editor-drag-icon {
  display: flex;
  align-items: center;
  border-radius: 18px;
  cursor: pointer;
  padding: 4px;
  font-size: 16px;
  color: rgb(38, 38, 38);
}

.md-editor-drag-icon:hover {
  background-color: rgb(244, 245, 245);
}

.md-editor-drag-el:hover > .md-editor-drag-handle {
  opacity: 1;
}

.view .md-editor-drag-handle {
  display: none;
}

.view [data-be='link'] {
  pointer-events: none;
}

.dark .win ::-webkit-scrollbar-thumb {
  background-color: #52525b;
}

.win ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.win ::-webkit-scrollbar-thumb {
  background-color: #a1a1aa;
  border-radius: 20px;
}

.md-editor-insert-autocomplete {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.md-editor-insert-autocomplete .md-editor-insert-autocomplete-item {
  display: flex;
  align-items: center;
  height: 24px;
  line-height: 24px;
  gap: 4px;
  padding: 4px;
  border-radius: 18px;
  cursor: pointer;
}
.md-editor-insert-autocomplete .md-editor-insert-autocomplete-item:hover {
  background-color: rgb(229 231 235 / 0.65);
}

.md-editor-context-menu {
  position: fixed;
}

.table-attr-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  border-bottom: 1px solid #e5e7eb;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #f0f0f0;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
  position: absolute;
  align-items: center;
  z-index: 10;
  gap: 4px;
  border-radius: 18px;
}

.table-attr-toolbar .table-attr-toolbar-item {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px;
  border-radius: 8px;
  cursor: pointer;
}

.table-attr-toolbar .table-attr-toolbar-item:hover {
  background-color: rgb(209 213 219 / 0.4);
}

.chart-attr-toolbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 6px 8px;
  width: 100%;
  border-bottom: 1px solid rgba(77, 77, 77, 0.03);
  background-color: rgba(255, 255, 255, 1);
  align-items: center;
  z-index: 10;
  gap: 4px;
}

.chart-attr-toolbar .chart-attr-toolbar-item {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px;
  border-radius: 18px;
  cursor: pointer;
}

.chart-attr-toolbar .chart-attr-toolbar-item:hover {
  background-color: rgb(209 213 219 / 0.4);
}

.react-resizable {
  position: relative;
  box-sizing: border-box;
}

.react-resizable-handle-hide {
  display: none;
}
.react-resizable-handle {
  position: absolute;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
  z-index: 9999;
  width: 14px;
  height: 14px;
  border: 2px solid #fff;
  background-color: #2f8ef4;
  border-radius: 10px;
  bottom: -7px;
  right: -7px;
  pointer-events: all;
}
