.ant-btn {
  font-size: var(--font-size-base);
  height: var(--height-control-base);
  padding: 0px var(--padding-3x);
  border-radius: var(--radius-control-base);
}

.ant-btn-lg {
  height: var(--height-control-lg);
  padding: 0px var(--padding-3x);
}

.ant-btn-sm {
  height: var(--height-control-sm);
  padding: 0px var(--padding-2x);
}

.ant-btn-color-default.ant-btn-variant-solid {
  color: #fff;
  background: var(--color-gray-control-fill-primary);
}

.ant-btn-color-default.ant-btn-variant-solid:not(:disabled):not(
    .ant-btn-disabled
  ):hover {
  color: #fff;
  background: var(--color-gray-control-fill-primary-hover);
}

.ant-btn-color-default.ant-btn-variant-solid:not(:disabled):not(
    .ant-btn-disabled
  ):active {
  color: #fff;
  background: var(--color-gray-control-fill-primary-active);
}

.ant-btn-color-default.ant-btn-variant-solid:disabled,
.ant-btn-color-default.ant-btn-variant-solid.ant-btn-disabled {
  cursor: not-allowed;
  border-color: #d9d9d9;
  color: var(--color-gray-contrast);
  background: var(--color-gray-text-disabled);
  box-shadow: none;
}

.ant-btn-color-default.ant-btn-variant-solid.ant-btn-loading {
  background: var(--color-gray-text-disabled);
  opacity: 1;
}

.ant-btn-color-default.ant-btn-variant-filled {
  box-shadow: none;
  background: var(--color-gray-control-fill-secondary);
  color: var(--color-gray-text-default);
  border: 1px solid transparent;
}
.ant-btn-color-default.ant-btn-variant-filled:disabled,
.ant-btn-color-default.ant-btn-variant-filled.ant-btn-disabled {
  cursor: not-allowed;
  border-color: transparent;
  color: rgba(0, 4, 26, 0.2706);
  background: var(--color-gray-control-fill-secondary);
  box-shadow: none;
}

.ant-btn-color-default.ant-btn-variant-filled:not(:disabled):not(
    .ant-btn-disabled
  ):hover {
  background: var(--color-gray-control-fill-secondary-hover);
}

.ant-btn-color-default.ant-btn-variant-filled:not(:disabled):not(
    .ant-btn-disabled
  ):active {
  background: var(--color-gray-control-fill-secondary-active);
}

.ant-btn-variant-outlined {
  border-color: var(--color-gray-border-light);
  background: #ffffff;
}

.ant-btn-variant-outlined {
  color: var(--color-gray-text-default);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
  border: 1px solid var(--color-gray-border-light);
}

.ant-btn-variant-outlined.ant-btn-loading {
  background: var(--color-gray-control-fill-hover);
  box-sizing: border-box;
  border: 1px solid var(--color-gray-border-light);
}

.ant-btn-variant-outlined:disabled,
.ant-btn-variant-dashed:disabled,
.ant-btn-variant-outlined.ant-btn-disabled,
.ant-btn-variant-dashed.ant-btn-disabled {
  cursor: not-allowed;
  border-color: var(--color-gray-border-light);
  color: var(--color-gray-text-disabled);
  background: #fff;
  box-shadow: none;
}

.ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover {
  color: var(--color-gray-text-default);
  border-color: var(--color-gray-border-light);
  background: var(--color-gray-control-fill-hover);
}

.ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):active {
  color: var(--color-gray-text-default);
  border-color: var(--color-gray-border-light);
  background: var(--color-gray-control-fill-active);
}

.ant-btn-color-primary {
  border-radius: 200px;
  background: var(--color-primary-control-fill-primary);
  box-shadow: var(--shadow-control-lg);
  border: none;
}

.ant-btn-color-primary:not(:disabled):not(.ant-btn-disabled):hover {
  background: var(--color-primary-control-fill-primary-hover);
}

.ant-btn-color-primary:not(:disabled):not(.ant-btn-disabled):active {
  background: var(--color-primary-control-fill-primary-active);
}

.ant-btn-color-primary:disabled,
.ant-btn-color-primary.ant-btn-disabled {
  background: var(--color-primary-control-fill-primary);
  /* 投影-控件-base */
  opacity: 0.25;
  box-shadow: var(--shadow-control-base);
  color: var(--color-gray-contrast);
}

.ant-btn-color-primary.ant-btn-loading {
  background: var(--color-primary-text-disabled);
  box-shadow: var(--shadow-control-base);
  color: var(--color-gray-contrast);
}

.ant-btn.ant-btn-variant-outlined.ant-btn-icon-only {
  width: 32px;
  border-radius: var(--radius-control-base);
  background: var(--color-gray-bg-card-white);
  box-shadow: var(--shadow-border-base);
  color: var(--color-gray-text-secondary);
  border: none;
}
.ant-btn.ant-btn-variant-outlined.ant-btn-icon-only:not(:disabled):not(
    .ant-btn-disabled
  ):hover {
  /* gray/gray-背景-白色卡片 */
  /* 样式描述：contrast */
  background: var(--color-gray-bg-card-white);
  /* 投影-控件-lg */
  box-shadow: var(--shadow-control-lg);
  border: none;
}

.ant-btn.ant-btn-variant-outlined.ant-btn-icon-only:not(:disabled):not(
    .ant-btn-disabled
  ):active {
  background: var(--color-primary-control-fill-secondary);
  /* 投影-描边-base */
  box-shadow: var(--shadow-border-base);
  color: var(--color-primary-control-fill-primary);
  border: none;
}

.ant-btn.ant-btn-variant-outlined.ant-btn-icon-only:disabled,
.ant-btn.ant-btn-variant-outlined.ant-btn-icon-only.ant-btn-disabled {
  color: var(--color-gray-text-disabled);
  background: var(--color-gray-bg-card-white);
  box-shadow: var(--shadow-control-base);
  border: none;
}

.ant-btn.ant-btn-variant-filled.ant-btn-icon-only {
  width: 32px;
  border-radius: var(--radius-control-base);
  background: var(--color-gray-control-fill-secondary);
  backdrop-filter: blur(40px);
}
.ant-btn.ant-btn-variant-filled.ant-btn-icon-only:not(:disabled):not(
    .ant-btn-disabled
  ):hover {
  border-radius: var(--radius-control-base);
  /* gray/gray-控件填充-次按钮-悬停 */
  /* 样式描述：--a4 */
  background: var(--color-gray-control-fill-secondary-hover);
  backdrop-filter: blur(40px);
}

.ant-btn.ant-btn-variant-filled.ant-btn-icon-only:not(:disabled):not(
    .ant-btn-disabled
  ):active {
  border-radius: var(--radius-control-base);
  /* primary/primary-控件填充-次按钮 */
  background: var(--color-primary-control-fill-secondary);
  backdrop-filter: blur(20px);
  color: var(--color-primary-control-fill-primary);
}

.ant-btn.ant-btn-variant-filled.ant-btn-icon-only:disabled,
.ant-btn.ant-btn-variant-filled.ant-btn-icon-only.ant-btn-disabled {
  border-radius: var(--radius-control-base);
  background: var(--color-gray-control-fill-secondary);
  backdrop-filter: blur(40px);
  color: var(--color-gray-text-disabled);
}

.ant-btn.ant-btn-variant-text.ant-btn-icon-only {
  width: 32px;
  border-radius: var(--radius-control-base);
}

.ant-btn.ant-btn-icon-only.ant-btn-variant-text:not(:disabled):not(
    .ant-btn-disabled
  ):hover {
  border-radius: var(--radius-control-base);
  /* gray/gray-控件填充-次按钮-悬停 */
  /* 样式描述：--a4 */
  background: var(--color-gray-control-fill-secondary-hover);
  backdrop-filter: blur(40px);
}

.ant-btn.ant-btn-icon-only.ant-btn-variant-text:not(:disabled):not(
    .ant-btn-disabled
  ):active {
  border-radius: var(--radius-control-base);
  /* primary/primary-控件填充-次按钮 */
  background: var(--color-primary-control-fill-secondary);
  backdrop-filter: blur(20px);
  color: var(--color-primary-control-fill-primary);
}

.ant-btn.ant-btn-variant-text.ant-btn-icon-only:disabled,
.ant-btn.ant-btn-variant-text.ant-btn-icon-only.ant-btn-disabled {
  border-radius: var(--radius-control-base);
  background: var(--color-gray-control-fill-secondary);
  backdrop-filter: blur(40px);
  color: var(--color-gray-text-default);
}

/* --------无边框-------- */

.ant-btn.ant-btn-variant-text {
  border-radius: var(--radius-control-base);
  font: var(--font-text-body-base);
  letter-spacing: var(--letter-spacing-body-base, normal);
  color: var(--color-gray-text-default);
  box-shadow: none;
}

.ant-btn.ant-btn-variant-text:not(:disabled):not(.ant-btn-disabled):hover {
  border-radius: var(--radius-control-base);
  background: var(--color-gray-control-fill-hover);
}

.ant-btn.ant-btn-variant-text:not(:disabled):not(.ant-btn-disabled):active {
  border-radius: var(--radius-control-base);
  /* gray/gray-控件填充-按下.激活 */
  background: var(--color-gray-control-fill-active);
}

.ant-btn.ant-btn-variant-text:disabled,
.ant-btn.ant-btn-variant-text.ant-btn-disabled {
  font: var(--font-text-body-base);
  letter-spacing: var(--letter-spacing-body-base, normal);
  color: var(--color-gray-text-disabled);
}

.ant-btn.ant-btn-variant-text.ant-btn-loading {
  color: var(--color-gray-text-disabled);
  background: var(--color-gray-control-fill-hover);
  opacity: 1;
}

/* --------无边框end-------- */

.ant-segmented:not(.chaos-segmented) {
  /* 圆角-控件-base */
  border-radius: var(--radius-control-base);
  /* gray/gray-控件填充-按下.激活 */
  background: var(--color-gray-control-fill-active);
  padding: 1px;
}

.ant-segmented:not(.chaos-segmented) .ant-segmented-thumb {
  border-radius: var(--radius-control-base);
}

.ant-segmented:not(.chaos-segmented) .ant-segmented-item {
  border-radius: var(--radius-control-base);
  font: var(--font-text-body-base);
  letter-spacing: var(--letter-spacing-body-base, normal);
  color: var(--color-gray-text-secondary);
}

.ant-segmented:not(.chaos-segmented)
  .ant-segmented-item:hover:not(.ant-segmented-item-selected):not(
    .ant-segmented-item-disabled
  )::after {
  border-radius: var(--radius-control-base);
}

.ant-segmented:not(.chaos-segmented)
  .ant-segmented-item
  .ant-segmented-item-title {
  display: inline-flex;
  gap: 8px;
  align-items: center;
}

.ant-segmented:not(.chaos-segmented)
  .ant-segmented-item
  .ant-segmented-item-tag {
  /* 自动布局子元素 */
  min-width: 20px;
  /* 自动布局 */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 6px;
  gap: 8px;
  z-index: 1;
  border-radius: 200px;
  background: var(--color-gray-control-fill-active);
  color: var(--color-gray-text-secondary);
  font: var(--font-text-number-xs);
  letter-spacing: var(--letter-spacing-number-xs, normal);
}

.ant-segmented:not(.chaos-segmented)
  .ant-segmented-item
  .ant-segmented-item-label {
  min-height: 14px;
  padding: var(--padding-2x) var(--padding-3x);
  line-height: 14px;
  display: inline-flex;
  align-items: center;
}

.ant-segmented:not(.chaos-segmented)
  .ant-segmented-item
  .ant-segmented-item-label
  .ant-segmented-item-icon {
  font-size: 16px;
}

.ant-segmented:not(.chaos-segmented) .ant-segmented-item-selected {
  font: var(--font-text-h6-base);
  letter-spacing: var(--letter-spacing-h6-base, normal);
  /* gray/gray-文本-默认 */
  color: var(--color-gray-text-default);
  border-radius: var(--radius-control-base);
  /* gray/gray-背景-白色卡片 */
  /* 样式描述：contrast */
  background: var(--color-gray-bg-card-white);
  /* 投影-控件-base */
  box-shadow: var(--shadow-control-base);
}

.ant-input-outlined {
  border-radius: var(--radius-control-base);
  background: var(--color-gray-bg-card-white);
  box-shadow: var(--shadow-control-base);
  font: var(--font-text-body-base);
  letter-spacing: var(--letter-spacing-body-base, normal);
  color: var(--color-gray-text-default);
  border: 1px solid transparent;
}

.ant-input-outlined:hover {
  border-radius: var(--radius-control-base);
  background: var(--color-gray-bg-card-white);
  box-sizing: border-box;
  border: 1px solid var(--color-primary-control-fill-primary-active);
  box-shadow: var(--shadow-control-base);
}

.ant-input-affix-wrapper-outlined:focus,
.ant-input-affix-wrapper-outlined:focus-within {
  border-radius: var(--radius-control-base);
  background: var(--color-gray-bg-card-white);
  box-sizing: border-box;
  border: 1px solid var(--color-primary-control-fill-primary-active);
  box-shadow: var(--shadow-control-base);
}

.ant-input-outlined.ant-input-disabled,
.ant-input[disabled] {
  border-color: transparent;
  color: var(--color-gray-text-default);
  border-radius: var(--radius-control-base);
  background: var(--color-gray-control-fill-disabled);
}

.ant-select.ant-select-outlined {
  font: var(--font-text-body-base);
  letter-spacing: var(--letter-spacing-body-base, normal);
  color: var(--color-gray-text-default);
  border-radius: var(--radius-control-base);
  background: var(--color-gray-bg-card-white);
}

.ant-select.ant-select-outlined .ant-select-selector {
  border: 1px solid transparent;
  box-shadow: var(--shadow-control-base);
}

.ant-select-outlined:not(.ant-select-disabled):not(
    .ant-select-customize-input
  ):not(.ant-pagination-size-changer):hover
  .ant-select-selector {
  border-radius: var(--radius-control-base);
  background: var(--color-gray-bg-card-white);
  box-sizing: border-box;
  border: 1px solid var(--color-primary-control-fill-primary-active);
  box-shadow: var(--shadow-control-base);
}

.ant-select.ant-select-outlined.ant-select-disabled {
  color: var(--color-gray-text-default);
  border-radius: var(--radius-control-base);
  background: var(--color-gray-control-fill-disabled);
}

.ant-select.ant-select-outlined.ant-select-disabled .ant-select-selector {
  border-color: transparent;
  border: 1px solid transparent;
  box-shadow: none;
}

#root > div:not(.site-app) {
  padding: var(--padding-5x);
  margin: var(--margin-5x);
  background: var(--color-gray-bg-card-white);
}
